/*-------------------------------------
 Super General Purpose
-------------------------------------*/

// Clearfix (.clearfix)
.clearfix {
  zoom:1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// Image Replacement
.ir {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}

// text remove
.tr {
  position: absolute;
  top: 0; left: -5000px;
}


// Ellipsis
.elps {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// position
.ref { position: relative; }
.abs { position: absolute; }
.fix { position: fixed; }


//  State Classes
//-------------------------------------

.dn { display: none !important; }
.db { display: block !important;  }
.di { display: inline !important; }
.ds { display: inline-block !important; }
.dt { display: table !important; }
.dc { display: table-cell !important;}



//  Border Radius
//-------------------------------------

.rn { border-radius: 0 !important; }
.rs { border-radius: $radius-base; }
.rm { border-radius: $radius-2; }
.rl { border-radius: $radius-3; }


//  Text Decorative Classes
//-------------------------------------

.ca { color: $color-a !important; }
.cb { color: $color-b !important; }
.cc { color: $color-c !important; }
.cd { color: $color-d !important; }
.ce { color: $color-e !important; }
.cf { color: $color-f !important; }
.cg { color: $color-g !important; }
.ch { color: $color-h !important; }
.ci { color: $color-i !important; }
.cj { color: $color-j !important; }
.ck { color: $color-k !important; }
.cl { color: $color-l !important; }

.ba { background-color: $color-a !important; }
.bb { background-color: $color-b !important; }
.bc { background-color: $color-c !important; }
.bd { background-color: $color-d !important; }
.be { background-color: $color-e !important; }
.bf { background-color: $color-f !important; }
.bg { background-color: $color-g !important; }
.bh { background-color: $color-h !important; }
.bi { background-color: $color-i !important; }
.bj { background-color: $color-j !important; }
.bk { background-color: $color-k !important; }
.bl { background-color: $color-l !important; }

.n { font-weight: normal !important; }
.b { font-weight: bold !important; }
.l { text-align: left !important; }
.c { text-align: center !important; }
.r { text-align: right !important; }
.u { text-decoration: underline !important; }

.obl {font-style: oblique;}



// vertical-align
.v0 { vertical-align: 0; }
.v1 { vertical-align: -1px; }
.v2 { vertical-align: -2px; }
.v3 { vertical-align: -3px; }
.v4 { vertical-align: -4px; }
.v5 { vertical-align: -5px; }
.vt { vertical-align: top; }
.vm { vertical-align: middle; }
.vb { vertical-align: bottom; }


/* positions
-------------------- */
.pos {
  position: absolute;
  margin: auto;
}

.pos-center {
  @extend .pos;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.pos-vertical-center {
  @extend .pos;
  top: 0; bottom: 0;
}

.pos-horizontal-center {
  @extend .pos;
  left: 0; right: 0;
}

.pos-override-center {
  @extend .pos;
  top: -50%; bottom: -50%;
  left: -50%; right: -50%;
}

.flexbox {
  display: flex;
}




















