/* -------------------------------------
	PC general settinngs
------------------------------------- */


// ----------------------
//	variables
// ----------------------
$container: 980px;

$font-size-base: 14px;

$font-size-m1: $font-size-base - 1px;
$font-size-m2: $font-size-base - 2px;
$font-size-m3: $font-size-base - 3px;
$font-size-m4: $font-size-base - 4px;
$font-size-m5: $font-size-base - 5px;
$font-size-m6: $font-size-base - 6px;
$font-size-m7: $font-size-base - 7px;
$font-size-m8: $font-size-base - 8px;
$font-size-m9: $font-size-base - 9px;
$font-size-m10: $font-size-base - 10px;

$font-size-p1: $font-size-base + 1px;
$font-size-p2: $font-size-base + 2px;
$font-size-p3: $font-size-base + 3px;
$font-size-p4: $font-size-base + 4px;
$font-size-p5: $font-size-base + 5px;
$font-size-p6: $font-size-base + 6px;
$font-size-p7: $font-size-base + 7px;
$font-size-p8: $font-size-base + 8px;
$font-size-p9: $font-size-base + 9px;
$font-size-p10: $font-size-base + 10px;

// Spaces
$space-base: 5px;
$space-2: $space-base * 2;
$space-3: $space-base * 3;
$space-4: $space-base * 4;
$space-5: $space-base * 5;
$space-6: $space-base * 6;
$space-7: $space-base * 7;
$space-8: $space-base * 8;
$space-9: $space-base * 9;
$space-10: $space-base * 10;


// ----------------------
//	PC original styles
// ----------------------
.sp {
	display: none !important;
}

.fsm1 { font-size: $font-size-m1; }
.fsm2 { font-size: $font-size-m2; }
.fsm3 { font-size: $font-size-m3; }
.fsm4 { font-size: $font-size-m4; }
.fsm5 { font-size: $font-size-m5; }
.fsm6 { font-size: $font-size-m6; }
.fsm7 { font-size: $font-size-m7; }
.fsm8 { font-size: $font-size-m8; }
.fsm9 { font-size: $font-size-m9; }
.fsm10 { font-size: $font-size-m10; }
.fn { font-size: $font-size-base; }
.fsp1 { font-size: $font-size-p1; }
.fsp2 { font-size: $font-size-p2; }
.fsp3 { font-size: $font-size-p3; }
.fsp4 { font-size: $font-size-p4; }
.fsp5 { font-size: $font-size-p5; }
.fsp6 { font-size: $font-size-p6; }
.fsp7 { font-size: $font-size-p7; }
.fsp8 { font-size: $font-size-p8; }
.fsp9 { font-size: $font-size-p9; }
.fsp10 { font-size: $font-size-p10; }

.full	 { width: 100%; }
.half	 { width: 50%; }
.third	{ width: 33.3%; }
.quater { width: 25%; }
.fifth	{ width: 20%; }

.fl { float: left; }
.fr { float: right; }

.mgn { margin: 0 !important; }
.mga { margin: auto !important; }
.mtn { margin-top: 0 !important; }
.mts { margin-top: $space-base !important; }
.mt2 { margin-top: $space-2 !important; }
.mt3 { margin-top: $space-3 !important; }
.mt4 { margin-top: $space-4 !important; }
.mt5 { margin-top: $space-5 !important; }
.mt6 { margin-top: $space-6 !important; }
.mt7 { margin-top: $space-7 !important; }
.mt8 { margin-top: $space-8 !important; }
.mt9 { margin-top: $space-9 !important; }
.mt10 { margin-top: $space-10 !important; }
.mbn { margin-bottom: 0 !important; }
.mbs { margin-bottom: $space-base !important; }
.mb2 { margin-bottom: $space-2 !important; }
.mb3 { margin-bottom: $space-3 !important; }
.mb4 { margin-bottom: $space-4 !important; }
.mb5 { margin-bottom: $space-5 !important; }
.mb6 { margin-bottom: $space-6 !important; }
.mb7 { margin-bottom: $space-7 !important; }
.mb8 { margin-bottom: $space-8 !important; }
.mb9 { margin-bottom: $space-9 !important; }
.mb10 { margin-bottom: $space-10 !important; }
.mln { margin-left: 0 !important; }
.mls { margin-left: $space-base !important; }
.ml2 { margin-left: $space-2 !important; }
.ml3 { margin-left: $space-3 !important; }
.ml4 { margin-left: $space-4 !important; }
.ml5 { margin-left: $space-5 !important; }
.ml6 { margin-left: $space-6 !important; }
.ml7 { margin-left: $space-7 !important; }
.ml8 { margin-left: $space-8 !important; }
.ml9 { margin-left: $space-9 !important; }
.ml10 { margin-left: $space-10 !important; }
.mrn { margin-right: 0 !important; }
.mrs { margin-right: $space-base !important; }
.mr2 { margin-right: $space-2 !important; }
.mr3 { margin-right: $space-3 !important; }
.mr4 { margin-right: $space-4 !important; }
.mr5 { margin-right: $space-5 !important; }
.mr6 { margin-right: $space-6 !important; }
.mr7 { margin-right: $space-7 !important; }
.mr8 { margin-right: $space-8 !important; }
.mr9 { margin-right: $space-9 !important; }
.mr10 { margin-right: $space-10 !important; }

.mra { margin-right: auto !important; }
.mla { margin-left: auto !important; }
.mca { margin-left: auto; margin-right: auto !important; }

.ptn { padding-top: 0 !important; }
.pts { padding-top: $space-base !important; }
.pt2 { padding-top: $space-2 !important; }
.pt3 { padding-top: $space-3 !important; }
.pt4 { padding-top: $space-4 !important; }
.pt5 { padding-top: $space-5 !important; }
.pt6 { padding-top: $space-6 !important; }
.pt7 { padding-top: $space-7 !important; }
.pt8 { padding-top: $space-8 !important; }
.pt9 { padding-top: $space-9 !important; }
.pt10 { padding-top: $space-10 !important; }
.pbn { padding-bottom: 0 !important; }
.pbs { padding-bottom: $space-base !important; }
.pb2 { padding-bottom: $space-2 !important; }
.pb3 { padding-bottom: $space-3 !important; }
.pb4 { padding-bottom: $space-4 !important; }
.pb5 { padding-bottom: $space-5 !important; }
.pb6 { padding-bottom: $space-6 !important; }
.pb7 { padding-bottom: $space-7 !important; }
.pb8 { padding-bottom: $space-8 !important; }
.pb9 { padding-bottom: $space-9 !important; }
.pb10 { padding-bottom: $space-10 !important; }
.pbx { padding-bottom: $space-4	!important; }
.pln { padding-left: 0 !important; }
.pls { padding-left: $space-base !important; }
.pl2 { padding-left: $space-2 !important; }
.pl3 { padding-left: $space-3 !important; }
.pl4 { padding-left: $space-4 !important; }
.pl5 { padding-left: $space-5 !important; }
.pl6 { padding-left: $space-6 !important; }
.pl7 { padding-left: $space-7 !important; }
.pl8 { padding-left: $space-8 !important; }
.pl9 { padding-left: $space-9 !important; }
.pl10 { padding-left: $space-10 !important; }
.prn { padding-right: 0 !important; }
.prs { padding-right: $space-base !important; }
.pr2 { padding-right: $space-2 !important; }
.pr3 { padding-right: $space-3 !important; }
.pr4 { padding-right: $space-4 !important; }
.pr5 { padding-right: $space-5 !important; }
.pr6 { padding-right: $space-6 !important; }
.pr7 { padding-right: $space-7 !important; }
.pr8 { padding-right: $space-8 !important; }
.pr9 { padding-right: $space-9 !important; }
.pr10 { padding-right: $space-10 !important; }

.ti {
	display: block;
	background-repeat: no-repeat;
	background-position: left top;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 120%;
}


html {
	font-size: $font-size-base;
}
